<div class="container">
  <header>
    <h1>Suivi des demandes de validation en cours</h1>
    <div class="filter" style="margin-left: 330px;">
      <input type="text" placeholder="Région" />
      <input type="text" placeholder="Créateur" />
      <input type="text" placeholder="Année" />
      <input type="text" placeholder="Recherche par mots clefs" />
      <button style="margin-left: 85px; color: #030F40;">Réinitialiser</button>
    </div>
  </header>

  <main>
 
    <section>
      <div class="demandes">
        <div class="demande">
          <span class="numero">Fiche Numero 290</span>
          <span class="id">521497026</span>
          <span class="modifie">Modifié par User le date</span>
          <span class="company">DISTRICO</span>
          <span class="status">En Validation Administrateur SIMPAC</span>
          <button style="margin-left: 15px;">></button>
        </div>
        <div class="demande">
          <span class="numero">Fiche Numero 294</span>
          <span class="id">435163726</span>
          <span class="modifie">Modifié par User le date</span>
          <span class="company">HP BTP</span>
          <span class="status">En Validation Administrateur SIMPAC</span>
          <button style="margin-left: 15px;">></button>
        </div>
        <div class="demande">
          <span class="numero">Fiche Numero 369</span>
          <span class="id">192058320</span>
          <span class="modifie">Modifié par User le date</span>
          <span class="company">TDEMA</span>
          <span class="status">En Validation Administrateur SIMPAC</span>
          <button style="margin-left: 15px;">></button>
        </div>
        <div class="demande">
          <span class="numero">Fiche Numero 54</span>
          <span class="id">069582371</span>
          <span class="modifie">Modifié par User le date</span>
          <span class="company">BOUYGUES ENERGIES</span>
          <span class="status">En Validation Administrateur SIMPAC</span>
          <button style="margin-left: 15px;">></button>
        </div>
      </div>
    </section>
  </main>
</div>
