<div class="container">
  <header>
    <h1>Suivi des demandes de validation en cours</h1>
    <div class="filter">
      <input type="text" placeholder="Région" style="margin-left: 205px;" />
      <input type="text" placeholder="Créateur" />
      <input type="text" placeholder="Année" />
      <input type="text" placeholder="Recherche par mots clefs" />
      <button class="reset-button">Réinitialiser</button>
    </div>
  </header>

  <main>
    <aside>
      <ul>
        <li>Brouillon En DEV</li>
        <li>En Validation Achat LOC</li>
        <li>En Validation Achat NAT</li>
        <li>En Validation Admin SIMPAC</li>
        <li>Fermée - Refusée</li>
        <li>Fermée - Traitée</li>
      </ul>
      <button class="export-button">Exporter La Liste</button>
      <button class="download-button">Télécharger La Base</button>
    </aside>

    <section>
      <div class="demandes">
        <div class="demande">
          <span class="numero">Fiche Numero 290</span>
          <span class="id">521497026</span>
          <span class="modifie">Modifié par User le date</span>
          <span class="company">DISTRICO</span>
          <span class="status">En Validation Administrateur SIMPAC</span>
          <button class="details-button" onclick="location.href='/pages/modal-overlays/window';" style="margin-left: 15px;">></button>
        </div>
        <div class="demande">
          <span class="numero">Fiche Numero 294</span>
          <span class="id">435163726</span>
          <span class="modifie">Modifié par User le date</span>
          <span class="company">HP BTP</span>
          <span class="status">En Validation Administrateur SIMPAC</span>
          <button class="details-button" onclick="location.href='/pages/modal-overlays/window';" style="margin-left: 15px;">></button>
        </div>
        <div class="demande">
          <span class="numero">Fiche Numero 369</span>
          <span class="id">192058320</span>
          <span class="modifie">Modifié par User le date</span>
          <span class="company">TDEMA</span>
          <span class="status">En Validation Administrateur SIMPAC</span>
          <button class="details-button" onclick="location.href='/pages/modal-overlays/window';" style="margin-left: 15px;">></button>
        </div>
        <div class="demande">
          <span class="numero">Fiche Numero 54</span>
          <span class="id">069582371</span>
          <span class="modifie">Modifié par User le date</span>
          <span class="company">BOUYGUES ENERGIES</span>
          <span class="status">En Validation Administrateur SIMPAC</span>
          <button class="details-button" onclick="location.href='/pages/modal-overlays/window';" style="margin-left: 15px;">></button>
        </div>
      </div>
    </section>
  </main>
</div>
